.App {
  max-width: 70rem;
  margin: 10rem auto;
}

.error{
  color: red;
  text-align: center;
}

.success{
  color: green;
}

.CharacterList{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
